@page "/sale"
@using OpenPOS.Domain.Enums

@if (_uiMessage != null)
{
	<div class="alert alert-warning" role="alert">
		<div class="alert-warning">
			<strong>@_uiMessage</strong>
		</div>
	</div>
}

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="row">
				<div class="col-7">
					<span>
						<label for="" class="price-label">Barkod</label><br>
						<input type="text" value="@_barcode" @oninput="@OnBarcodeInputAsync" 
						       placeholder="Məhsul Barkodunu Oxudun... [ENTER]" class="barcode-input">
					</span>
				</div>
				<div class="col-5 d-flex justify-content-end">
					<span>
						<label for="payed_amount" class="price-label">Ödənən</label>
						<input type="number" step="0.01" @bind="NewTransaction.PayedAmount" @bind:event="oninput"
						       class="price-income hidden-controls" id="payed_amount">
					</span>
					<span>
						<label for="total_amount" class="price-label">Tutar</label>
						<input type="number" step="0.01" value="@NewTransaction.TotalAmount"
						       class="price-current hidden-controls" id="total_amount">
					</span>
					<span>
						<label for="return_amount" class="price-label">Qalıq</label>
						<input type="number" step="0.01" value="@(NewTransaction.ReturnAmount)"
						       class="price-after hidden-controls" id="return_amount">
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-7">
		<div class="card">
			<table class="table table-hover">
				<thead>
				<tr>
					<th><span style="color: red">Sil</span></th>
					<th>#</th>
					<th>Məhsul</th>
					<th>Miqdar</th>
					<th>Qiymət</th>
					<th>Cəmi</th>
				</tr>
				</thead>
				<tbody>
				@{
                	var counter = 1;
                	for (var i = 0; i < NewTransaction.IncludedProducts.Count; i++)
                	{
                		var product = NewTransaction.IncludedProducts[i];
                		var iCopy = i;
                		<tr>
                			<td>
                				<button class="btn btn-outline-danger" @onclick="@(() => NewTransaction.IncludedProducts.RemoveAt(iCopy))">X</button>
                			</td>
                			<td>@counter</td>
                			<td>@product.ProductName</td>
                			<td>
                				<div class="btn-group" role="group" aria-label="Product quantity controls">
                					<button type="button" class="btn btn-secondary"
                					        @onclick="@(() => NewTransaction.IncludedProducts[iCopy].Quantity--)">-</button>
                					<input type="number" step="0.001" @bind="NewTransaction.IncludedProducts[iCopy].Quantity"
                					       @bind:event="oninput" style="max-width: 100px;">
                					<button type="button" class="btn btn-secondary"
                					        @onclick="@(() => NewTransaction.IncludedProducts[iCopy].Quantity++)">+</button>
                				</div>
                				@product.UnitName
                			</td>
                			<td>
                				<input type="number" step="0.01" style="max-width: 100px" 
                				       @bind="NewTransaction.IncludedProducts[iCopy].SalePrice" @bind:event="oninput">
                			</td>
                			<td>@product.TotalPrice</td>
                		</tr>
                		
                		counter++;
                	}
				}
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-5">
		<div class="card">
			<label class="price-label">Məbləğ</label>
			<span class="btn-group income-money" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary" @onclick="@(() => NewTransaction.PayedAmount = 5)">5</button>
				<button type="button" class="btn btn-outline-primary" @onclick="@(() => NewTransaction.PayedAmount = 10)">10</button>
				<button type="button" class="btn btn-primary" @onclick="@(() => NewTransaction.PayedAmount = 20)">20</button>
				<button type="button" class="btn btn-outline-primary" @onclick="@(() => NewTransaction.PayedAmount = 50)">50</button>
				<button type="button" class="btn btn-primary" @onclick="@(() => NewTransaction.PayedAmount = 100)">100</button>
				<button type="button" class="btn btn-outline-primary" @onclick="@(() => NewTransaction.PayedAmount -= 5)">-5</button>
				<button type="button" class="btn btn-primary" @onclick="@(() => NewTransaction.PayedAmount += 5)">+5</button>
			</span>
			
			<label class="price-label">Müştəri</label>
            <input class="select-customer" list="customers" placeholder="Müştəri axtarın" @bind="NewTransaction.ClientName">
            <datalist id="customers">
            	@if (_customers != null)
            	{
            		@foreach (var customer in _customers)
            		{
            			<option>@customer</option>
            		}
            	}
            </datalist>

            <textarea cols="30" rows="3" placeholder="Satış üçün qeydlər yazın" @bind="NewTransaction.Notes"
            	class="sale-notes"></textarea>

			<label class="price-label">Ödəniş metodu</label>
            <div class="row" style="margin: 5px 20px 20px 20px;">
	            <div class="col-4">
		            <label class="payment-radio" for="cash_radio">
			            <input type="radio" id="cash_radio" value="Cash" name="payment_method" class="payment-radio-input"
			                   checked="checked" @onchange="@(() => NewTransaction.PaymentMethod = PaymentMethod.Cash)">
			            <br>
			            Nəğd
		            </label>
	            </div>
	            <div class="col-4">
		            <label class="payment-radio" for="card_radio">
			            <input type="radio" id="card_radio" value="Card" name="payment_method" class="payment-radio-input"
			                   @onchange="@(() => NewTransaction.PaymentMethod = PaymentMethod.Card)">
			            <br>
			            Kartla
		            </label>
	            </div>
	            <div class="col-4">
		            <label class="payment-radio" for="loan_radio">
			            <input type="radio" id="loan_radio" value="Loan" name="payment_method" class="payment-radio-input"
			                   @onchange="@(() => NewTransaction.PaymentMethod = PaymentMethod.Loan)">
			            <br>
			            Nisyə
		            </label>
	            </div>
            </div>
            <button class="btn btn-primary sale-button" @onclick="SubmitTransaction">TƏSTİQLƏ</button>
		</div>
	</div>
</div>
