@page "/transactions"
@using OpenPOS.Domain.Enums
@using OpenPOS.Domain.Extensions
@model OpenPOS.Inventory.Pages.Transactions.TransactionsIndex

@{
    Layout = "Shared/_Layout";
    ViewData["title"] = "Satışlar";
	ViewData["transactions-active"] = "active";
	var counter = 1;
}

@* Filter section *@
<div class="card">
	<div class="card-body">
		<form method="get">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label asp-for="FilterContext.FromPrice">Min. qiymət</label>
								<input type="number" step="any" asp-for="FilterContext.FromPrice" class="form-control">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label asp-for="FilterContext.ToPrice">Maks. qiymət</label>
								<input type="number" step="any" asp-for="FilterContext.ToPrice" class="form-control">
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label asp-for="FilterContext.PaymentMethod">Ödəniş metodu</label>
							<select asp-for="FilterContext.PaymentMethod" class="form-control">
								<option>Seçilməyib</option>
								<option value="cash">Nəğd</option>
								<option value="card">Kart</option>
								<option value="loan">Nisyə</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="FilterContext.SearchTerm">Qeydə görə axtarış</label>
								<input asp-for="FilterContext.SearchTerm" class="form-control" placeholder="Axtarış mətni">
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label asp-for="FilterContext.ClientId">Müştəriyə görə</label>
										<select asp-for="FilterContext.ClientId" class="form-control">
											<option>Seçilməyib</option>
											@foreach (var client in Model.Clients)
											{
												<option value="@client.Id">@client.Name</option>
											}
										</select>
									</div>
								</div>
								<div class="col-6">
									<label asp-for="FilterContext.FirmId">Firmaya görə</label>
									<select asp-for="FilterContext.FirmId" class="form-control">
										<option>Seçilməyib</option>
										@foreach (var firm in Model.Firms)
										{
											<option value="@firm.Id">@firm.Name</option>
										}
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label asp-for="FilterContext.OrderBy">Sırala</label>
								<span style="float: right">
									<input type="checkbox" asp-for="FilterContext.IsDescending">
									<label asp-for="FilterContext.IsDescending">Azalan sıra ilə</label>
								</span>
								<select asp-for="FilterContext.OrderBy" class="form-control">
									<option value="Timestamp">Vaxta görə</option>
									<option value="TotalPrice">Məbləğə görə</option>
								</select>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Səhifələmə</label><br>
								@{
									var possibleIndex = Model.Transactions.CurrentPage - 3;
									var startIndex = possibleIndex > 0 ? possibleIndex : 0;
								}
								<div>
									<div class="row">
										<div class="col-9">
											<span class="btn-group me-2 mt-2" role="group" aria-label="PaginationGroup">
												@for (var i = startIndex; i < Model.Transactions.CurrentPage + 3 && i <= Model.Transactions.TotalPages; i++)
												{
													if (i == Model.Transactions.CurrentPage - 1)
													{
														<input type="submit" class="btn btn-primary" name="pageNum" value="@(i + 1)">
													}
													else
													{
														<input type="submit" class="btn btn-secondary" name="pageNum" value="@(i + 1)">
													}
												}
											</span>
										</div>
										<div class="col-3">
											<select asp-for="FilterContext.Limit" class="form-control">
												<option value="2">2</option>
												<option value="50">50</option>
												<option value="100">100</option>
												<option value="150">150</option>
												<option value="200">200</option>
												<option value="500">500</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="filter-submit-button">
				<button type="submit" class="btn btn-primary" asp-page-handler="Search">Axtar</button>
				<a type="submit" class="btn btn-outline-danger" href="/transactions">Təmizlə</a>
			</div>
		</form>
	</div>
</div>

<div class="card flex-fill">
	<div class="card-header">
		<h5 class="card-title mb-0">Satış siyahısı</h5>
	</div>
	<div class="table-responsive">
		<table class="table table-hover my-0">
		<thead>
		<tr>
			<th><strong>#</strong></th>
			<th>Tip</th>
			<th>Tarix</th>
			<th>Metod</th>
			<th>Məbləğ</th>
			<th>Müştəri</th>
			<th>Qeydlər</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		@foreach (var transaction in Model.Transactions)
		{
			<tr>
				<td><strong>@counter</strong></td>
				<td>
					@if (transaction.Type == TransactionType.Sale)
					{
						<span class="badge bg-success" style="font-size: 100%;">@transaction.Type.Stringify()</span>
					}
					else if (transaction.Type == TransactionType.Income)
					{
						<span class="badge bg-warning" style="font-size: 100%;">@transaction.Type.Stringify()</span>
					}
					else if (transaction.Type == TransactionType.Return)
					{
						<span class="badge bg-danger" style="font-size: 100%;">@transaction.Type.Stringify()</span>
					}
				</td>
				<td>@transaction.Timestamp.ToString("dd MMM yyyy")</td>
				<td>@transaction.PaymentMethod.Stringify()</td>
				<td>@transaction.TotalPrice ₼</td>
				<td>@transaction.ClientName</td>
				<td>@transaction.Notes</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/transactions/@transaction.Id" target="_blank">Ətraflı</a>
				</td>
			</tr>

			counter++;
		}
		</tbody>
	</table>
	</div>
</div>
